    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About us</h2>
              <br/>
              <p>
                  We are a robotics team from "Andrei Muresanu" National College participating in the FIRST Tech Challenge Romania competition.
              </p>
              <!-- <p>
                  Our team was founded in 2016
              </p> -->
              <br/>
              </div>
        </div>
    </section>
